*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

body {
    background-color: #3AAFA9;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
li {
    float: left;
    list-style-type: none;
    
}
li a{
    text-decoration: none;
}
a {
    display:block;
    text-decoration: none;
    padding: 8px;
    width:max-content;
}
a:hover {
    display:block;
    text-decoration: none;
    padding: 8px;
    color: #DEF2F1;
    background-color: #17252A;
    border-color:#DEF2F1;
}

.main {
    float: left;
    max-width: 1200px;
}

.title {
    text-align: center;
    margin: auto;
    width:90%;
    padding-top: 10px;
    transform: translate(-50%-50%);
}

.title h1 {
    color: #17252A;
    font-size: 75px;
    font-size: 4vw;
    padding-top: 5px;
    
}

.navbar {
    text-align: center;
    margin-left: 23%;
    position: absolute;
    top: 14%;
    transform: translate(-50%-50%);
}

.content{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: #DEF2F1;
    width: 80%;
    height: 80%;
    height: max-content;
    min-height: 80%;
    transform: translate(-50%-50%);
    border-radius: 10px 10px 0px 0px;
    border:5px solid #17252A;

}


.buttons{
    border-radius: 10px;
    margin: 0px 10px;
    min-width: 15vw;
    height: min-content;
    font-size: 20px;
    font-size: 1.3vw;
    text-decoration: none;
    background-color: #DEF2F1;
    color: #17252A;
    border: 3px solid #17252A;
}


.paragraphs{
    font-size: 20px;
    font-size: 2vw;
}

.card {
    margin:10px;
    padding: 10px;
    min-width: 250px;
    max-width: 250px;
    height: max-content;
    min-height: 300px;
    background-color: whitesmoke;
    float: left;
    font-size: 2vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #17252A;
    border-radius: 10px;
}
.card2{
    margin:10px;
    padding: 10px;
    min-width: 80%;
    max-width: 80%;
    height: max-content;
    /* min-height: 300px; */
    background-color: whitesmoke;
    /* float: left; */
    font-size: 2vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #17252A;
    border-radius: 10px;
    justify-content: center;
    flex-direction: row;
}
.card3{
    margin:10px;
    padding: 10px;
    min-width: 92.5%;
    max-width: 92.5%;
    height: auto;
    /* min-height: 300px; */
    background-color: whitesmoke;
    /* float: left; */
    font-size: 2vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #17252A;
    border-radius: 10px;
    justify-content: center;
    flex-direction: row;
}
.item{
    max-width: max-content;
    float: left;
    font-size: 2vh;
    margin: 3%;
}

.grid {
    margin:auto;
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stats{
    justify-self: center;
    float: left;

    margin:10px;
    padding: 10px;

    width: 400px;
    max-width: 60%;
    height: max-content;
    min-height: 250px;

    background-color: whitesmoke;
    font-size: 2vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #17252A;
    border-radius: 10px;
}
#point{
    fill:blue;
}
#point:hover{
    fill: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }